# backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# frontend
frontend/node_modules/
frontend/dist/
frontend/.env


# Docker
*.log
.dockerignore

# Base de données (ne jamais pousser les dumps avec données personnelles)
backend/auditDb.sql

# Divers
.DS_Store
Thumbs.db